# nestjs
APP_NAME=CyxcelAPI
HOST=0.0.0.0
PORT=3000
NODE_ENV=development

# Frontend site url
SITE_URL=http://cyxcel.ns
CORS_ORIGINS=http://localhost:3000,https://site.com

# DB file storage
PGDATA=/var/lib/postgresql/data/pgdata

# Core DB
POSTGRES_DB=cyxcel
POSTGRES_USER=root
POSTGRES_PASSWORD=
POSTGRES_HOST=cyxcel-db
POSTGRES_PORT=5432

# Prisma DATABASE_URL
DATABASE_URL=postgresql://root:{PASSWORD}@cyxcel-db:5432/cyxcel

# Cleark 
CLERK_SECRET_KEY=sk_test_

# Postman
POSTMAN_API_KEY=



